{% extends 'layout.html' %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='dist/css/dropzone.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    {{ super() }}
    <style>
        #singleFileInput .dropzone {
            border: #262b40 2px dashed;
            background-color: whitesmoke;
            min-height: 250px;
            height: 250px;
            width: 100%;
        }

        #singleFileInput .dropzone::after {
            border: #f1ab5c 2px dashed;
            background-color: #f1ab5c;
        }
    </style>
    {#    <form action="{{ url_for('user_bp.handle_upload') }}" enctype="multipart/form-data" method="post">#}
    {#        {{ dropzone.create() }}#}
    {#        <div class="form-group">#}
    {#            {{ file_form.description.label }}#}
    {#            {{ file_form.description(class="form-control", type="text") }}#}
    {#        </div>#}
    {#        <div class="form-control">#}
    {#            {{ file_form.submit(class="btn btn-dark") }}#}
    {#        </div>#}
    {#    </form>#}
    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="#">Nouveau</a></li>
                <li class="breadcrumb-item active" aria-current="page">Fichier</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Vos fichiers et dossiers</h1>
                <p class="mb-0">Créer vos nouveaux fichiers ici</p>
            </div>
            <div>
                <a href="#" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Paramètres fichiers</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center align-items-lg-start justify-content-lg-start">
            <div class="col-12 col-lg-7 order-2 order-lg-1 text-center text-lg-left">
                <div id="singleFileInput">
                    <form action="upload" method="post" enctype="multipart/form-data"
                          class="dropzone dz-clickable" id="demoUpload">
                        <div class="dz-message">
                            <div class="align-items-center">
                                <img crossorigin="img-fluid w-20" style="max-width: 200px" src="{{ url_for('static', filename='img/illustrations/undraw_new_entries_nh3h.svg') }}">
                            </div>
                            Déposez votre fichier ici
                        </div>
                    </form>
                </div>
                <button type="submit" id="loadSingleFile" class="btn btn-outline-dark" value="">
                    Charger
                </button>
                {{ single_file_form.submit(class="btn btn-dark") }}
            </div>
            <div class=" col-12 col-lg-5 order-1 order-lg-2 text-center d-flex align-items-center justify-content-center align-items-lg-end justify-content-lg-end">
                <img class="img-fluid w-75"
                     src="{{ url_for('static', filename='img/illustrations/undraw_Add_files_re_v09g.svg') }}"
                     alt=""/>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='dist/js/dropzone.min.js') }}"></script>
    <script>
        Dropzone.options.demoUpload = {
            addRemoveLinks: true,
            autoProcessQueue: false,
            dictRemoveFile: 'Effacer',
            init: function () {
                document.getElementById('loadSingleFile').addEventListener(
                    'click', () => {
                        this.processQueue();
                    }
                );

                this.on('complete', (file) => {
                   //this.addRemoveLinks :false;
                    setTimeout(() => {
                        this.removeFile(file);
                    }, 3000);
                });
            },
        }
    </script>
{% endblock %}
