{% extends 'layout.html' %}
{% block content %}
    {{ super() }}
    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="#">Mes espaces</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tous mes espaces</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Mes propres espaces</h1>
                <p class="mb-0">Le espaces que vous avez créés</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="folders">
        <div class="row">
            <!-- Folder List-->
            {% for space in spaces %}
                <div class="col-1 p-3 m-3">
                    <a href="{{ url_for('user_bp.space_content',id_space=space.id) }}" class="folder wow fadeInDown"
                       data-wow-delay="0.8s">
                        <div class="file-icon d-flex align-items-center justify-content-center">
                            <i style="font-size: 10vh" class="fas primary-color fa-users"></i>
                            <a class="" style="position: relative; bottom: 30px; right: 20px;" id="" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu mb-5 shadow-sm" aria-labelledby="">
                                <a class="dropdown-item"
                                   href="{{ url_for('user_bp.archive_space', id_space=space.id) }}">
                                    <i class="fas fa-archive pr-2"></i>
                                    Archiver
                                </a>
                            </div>
                        </div>
                        <div class="folder-structure">
                            <div class="folder-title d-flex justify-content-center align-items-center">
                                {{ space.name }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <!-- End of Folder List-->
        </div>
    </div>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Mes espaces invités</h1>
            <p class="mb-0">Le espaces dans lesquels vous êtes ajoutés</p>
        </div>
    </div>
    <div class="container-fluid" id="folders">
        <div class="row">
            <!-- Folder List-->
            {% for space in guest_spaces %}
                <div class="col-1 p-3 m-3">
                    <a href="{{ url_for('user_bp.space_content',id_space=space.id) }}" class="folder wow fadeInDown"
                       data-wow-delay="0.8s">
                        <div class="file-icon d-flex align-items-center justify-content-center">
                            <i style="font-size: 10vh" class="fas primary-color fa-users"></i>
                        </div>
                        <div class="folder-structure">
                            <div class="folder-title d-flex justify-content-center align-items-center">
                                {{ space.name }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <!-- End of Folder List-->
        </div>
    </div>
{% endblock %}