{% extends 'layout.html' %}
{% block content %}
    {{ super() }}
    <div class="col-12 d-flex justify-content-between flex-column flex-sm-row mt-4"><a
            class="fw-bold text-dark hover:underline d-inline-flex align-items-center mb-2 mb-lg-0"
            href="./messages.html">
        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"></path>
            <path d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"></path>
        </svg>
        Back to Messages</a>
        <p class="text-muted fw-normal small">Messages starting from 10th of June, 2020</p></div>
    <div class="col-12">
        <div class="card border-0 shadow p-4 mb-4">
            <div class="d-flex justify-content-between align-items-center mb-2"><span class="font-small"><a
                    href="#"><img class="avatar-sm img-fluid rounded-circle me-2"
                                  src="../assets/img/team/profile-picture-1.jpg" alt="avatar"> <span class="fw-bold">Neil Sims</span> </a><span
                    class="fw-normal ms-2">March 26, 19:25</span></span>
                <div class="d-none d-sm-block">
                    <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"></path>
                    </svg>
                </div>
            </div>
            <p class="m-0">Hi Chris! Thanks a lot for this very useful template. Saved me a lot of time and searches on
                the internet.</p></div>
        <div class="card bg-gray-800 text-white border-0 shadow p-4 ms-md-5 ms-lg-6 mb-4">
            <div class="d-flex justify-content-between align-items-center mb-2"><span class="font-small"><span
                    class="fw-bold">Your Answer</span> <span class="fw-normal text-gray-300 ms-2">March 26, 19:25</span></span>
                <div class="d-none d-sm-block">
                    <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"></path>
                    </svg>
                </div>
            </div>
            <p class="text-gray-300 m-0">Hi Neil, thanks for sharing your thoughts regarding Spaces. Hi Neil, thanks for
                sharing your thoughts regarding Spaces.</p></div>
        <div class="card border-0 shadow p-4 mb-4">
            <div class="d-flex justify-content-between align-items-center mb-2"><span class="font-small"><a
                    href="#"><img class="avatar-sm img-fluid rounded-circle me-2"
                                  src="../assets/img/team/profile-picture-1.jpg" alt="avatar"> <span class="fw-bold">Neil Sims</span> </a><span
                    class="ms-2">March 26, 19:25</span></span>
                <div class="d-none d-sm-block">
                    <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"></path>
                    </svg>
                </div>
            </div>
            <p class="m-0">Hi Chris! Thanks a lot for this very useful template. Saved me a lot of time and searches on
                the internet.</p></div>
        <div class="card border-0 shadow p-4 mb-4">
            <div class="d-flex justify-content-between align-items-center mb-2"><span class="font-small"><a
                    href="#"><img class="avatar-sm img-fluid rounded-circle me-2"
                                  src="../assets/img/team/profile-picture-1.jpg" alt="avatar"> <span class="fw-bold">Neil Sims</span> </a><span
                    class="ms-2">March 26, 19:25</span></span>
                <div class="d-none d-sm-block">
                    <div class="d-none d-sm-block">
                        <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <p class="m-0">Hi Chris! Thanks a lot for this very useful template. Saved me a lot of time and searches on
                the internet.</p></div>
        <div class="card bg-gray-800 text-white border-0 shadow p-4 ms-md-5 ms-lg-6 mb-4">
            <div class="d-flex justify-content-between align-items-center mb-2"><span class="font-small"><span
                    class="fw-bold">Your Answer</span> <span class="ms-2">March 26, 19:25</span></span>
                <div class="d-none d-sm-block">
                    <div class="d-none d-sm-block">
                        <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <p class="text-gray-300 m-0">Hi Neil, thanks for sharing your thoughts regarding Spaces. Hi Neil, thanks for
                sharing your thoughts regarding Spaces.</p></div>
        <form action="#" class="mt-4 mb-5"><textarea class="form-control border-0 shadow mb-4" id="message"
                                                     placeholder="Your Message" rows="6" maxlength="1000"
                                                     required=""></textarea>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <div>
                    <button type="submit" class="btn btn-secondary d-inline-flex align-items-center text-dark">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        Reply
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="col-9 col-lg-8 d-md-flex">
        <div class="input-group me-2 me-lg-3 fmxw-300">
            <span class="input-group-text">
                <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20"
                     fill="currentColor"
                     aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                          clip-rule="evenodd">
                    </path>
                </svg>
            </span>
            <input type="text" class="form-control" placeholder="Search users"></div>
        <select class="form-select fmxw-200 d-none d-md-inline" aria-label="Message select example 2">
            <option selected="selected">All</option>
            <option value="1">Active</option>
            <option value="2">Inactive</option>
            <option value="3">Pending</option>
            <option value="3">Cancelled</option>
        </select>
    </div>
    <div class="card card-body shadow border-0 table-wrapper table-responsive">
        <div class="d-flex mb-3"><select class="form-select fmxw-200" aria-label="Message select example">
            <option selected="selected">Bulk Action</option>
            <option value="1">Send Email</option>
            <option value="2">Change Group</option>
            <option value="3">Delete User</option>
        </select>
            <button class="btn btn-sm px-3 btn-secondary ms-3">Apply</button>
        </div>
        <table class="table user-table table-hover align-items-center">
            <thead>
            <tr>
                <th class="border-bottom">
                    <div class="form-check dashboard-check">
                        <input class="form-check-input" type="checkbox" value="" id="userCheck55">
                        <label class="form-check-label" for="userCheck55"></label>
                    </div>
                </th>
                <th class="border-bottom">Nom et Prénom</th>
                <th class="border-bottom">Email</th>
                <th class="border-bottom">Ajouté le</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="form-check dashboard-check">
                        <input class="form-check-input" type="checkbox" value="" id="userCheck1">
                        <label class="form-check-label" for="userCheck1"></label>
                    </div>
                </td>
                <td>
                    <a href="#" class="d-flex align-items-center">
                        <img src="../assets/img/team/profile-picture-1.jpg" class="avatar rounded-circle me-3"
                             alt="Avatar">
                        <div class="d-block"><span class="fw-bold">Roy Fendley</span>
                            <div class="small text-gray">info@example.com</div>
                        </div>
                    </a></td>
                <td><span class="fw-normal">10 Feb 2020</span></td>
                <td><span class="fw-normal text-success">Active</span></td>
            </tr>
            </tbody>
        </table>
        <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
            <nav aria-label="Page navigation example">
                <ul class="pagination mb-0">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
            <div class="fw-normal small mt-4 mt-lg-0">Showing <b>5</b> out of <b>25</b> entries</div>
        </div>
    </div>
    <div class="modal fade" id="shareFolderModal" tabindex="-1" role="dialog" aria-labelledby="modal-default"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="h6 modal-title">Partager un dossier</h2>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ url_for('user_bp.share_folder') }}" method="post">
                    <div class="modal-body">
                        <div class="mb-4">
                            <input name="space_id" value="{{ space.id }}" hidden>
                            <label for="folder_id">Dossier</label>
                            <select class="form-select" id="country" name="folder_id"
                                    aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                {% for folder in folders_to_share %}
                                    <option value="{{ folder.id }}">{{ folder.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary text-gray ms-auto"
                                data-dismiss="modal">
                            Annuler
                        </button>
                        <button type="submit" class="btn btn-secondary"><i class="fas fa-plus"></i> Partager</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="shareFileModal" tabindex="-1" role="dialog" aria-labelledby="modal-default"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="h6 modal-title">Ajouter un fichier</h2>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ url_for('user_bp.share_file') }}" method="post">
                    <div class="modal-body">
                        <div class="mb-4">
                            <input name="space_id" value="{{ space.id }}" hidden>
                            <label for="file_id">Fichier</label>
                            <select class="form-select" id="country" name="file_id" aria-label="Default select example">
                                <option selected>Choisir le fichier</option>
                                {% for file in files_to_share %}
                                    <option value="{{ file.id }}">{{ file.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary text-gray ms-auto"
                                data-dismiss="modal">
                            Annuler
                        </button>
                        <button type="submit" class="btn btn-secondary"><i class="fas fa-plus"></i> Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="modal-default"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="h6 modal-title">Ajouter un membre</h2>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ url_for('user_bp.share_file') }}" method="post">
                    <div class="modal-body">
                        <div class="mb-4">
                            <input name="space_id" value="{{ space.id }}" hidden>
                            <label for="space_id">Utilsateurs</label>
                            <select class="form-select" id="country" name="space_id"
                                    aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.email }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary text-gray ms-auto"
                                data-dismiss="modal">
                            Annuler
                        </button>
                        <button type="submit" class="btn btn-secondary"><i class="fas fa-plus"></i> Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}