{% extends 'layout.html' %}
{% block content %}
    {{ super() }}
    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="#">Espace : {{ space.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Accueil</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Mes propres espaces</h1>
                <p class="mb-0">Le espaces que vous avez créés</p>
            </div>
        </div>
    </div>

{% endblock %}