<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
    <div class="container-fluid px-0">
        <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
            <div class="d-flex align-items-center">
                <!-- Search form -->
                <form class="navbar-search form-inline" id="navbar-search-main">
                    <div class="input-group input-group-merge search-bar">
                        <span class="input-group-text" id="topbar-addon"><span class="fas fa-search"></span></span>
                        <input type="text" class="form-control" onkeyup="filterItems()" id="topbarInputIconLeft" placeholder="Search"
                               aria-label="Search" aria-describedby="topbar-addon">
                    </div>
                </form>
            </div>
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        <div class="media d-flex align-items-center">
                            {% if current_user.photo %}
                                <img class="user-avatar md-avatar rounded-circle" alt="Image placeholder"
                                     src="{{ url_for('static', filename='img/team/profile-picture-1.jpg') }}">
                            {% elif current_user.gender=='feminin' %}
                                <img class="user-avatar md-avatar rounded-circle" alt="Image placeholder"
                                     src="{{ url_for('static', filename='img/illustrations/undraw_female_avatar.svg') }}">
                            {% else %}
                                <img class="user-avatar md-avatar rounded-circle" alt="Image placeholder"
                                     src="{{ url_for('static', filename='img/illustrations/undraw_male_avatar.svg') }}">
                            {% endif %}
                            <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                              <span class="mb-0 font-small fw-bold">
                                <strong>{{ current_user.last_name }} {{ current_user.first_name }}</strong>
                               <span class="fas fa-ellipsis-v p-2"></span>
                              </span>

                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-0">
                        <a class="dropdown-item rounded-top fw-bold" href="{{ url_for('user_bp.settings') }}">
                            <span class="far fa-user-circle"></span>
                            Gérer mon compte
                        </a>
                        <div role="separator" class="dropdown-divider my-0"></div>
                        <a class="dropdown-item rounded-bottom fw-bold" href="{{ url_for('auth_bp.logout') }}">
                            <span class="fas fa-sign-out-alt text-danger"></span>
                            Se déconnecter
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
    