{% extends "layout-fullscreen.html" %}
<!-- Specific Page CSS goes HERE  -->
{% block content %}
<main>
    <!-- Section -->
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="row justify-content-center form-bg-image" data-background-lg="{{ url_for('static', filename='img/illustrations/signin.svg') }}"
                style="background-image: url('{{ url_for('static', filename='img/illustrations/signin.svg') }}')">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-3 mt-md-0">
                            <h3 class="mb-0 h3">
                                NewDevFiles -
                                Connexion
                            </h3>
                            <br/>

                                {% if login_error_message %}
                                    <small class="text-danger">{{ login_error_message | safe }}</small>
                                {% else %}
                                    <p>Veuillez vous identifer</p>
                                {% endif %}

                        </div>

                        {% include 'login-form.html' %}
                        <div class="d-flex justify-content-center align-items-center mt-4">
                          <span class="fw-normal">
                              Vous n’avez pas de compte ?
                              <a href="{{ url_for('auth_bp.register') }}" class="small text-right fw-bold">Créez-en un ici</a>
                          </span>
                        </div>
                        {% include 'footer.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
