{% extends "layout-fullscreen.html" %}

{% block title %} NewDevFiles - {{ title }}  | NewDev MAROC {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background-lg="{{ url_for('static', filename='img/illustrations/signin.svg') }}"
                    style="background-image: url('{{ url_for('static', filename='img/illustrations/signin.svg') }}')">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="mb-4 mb-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    NewDevFiles - Nouveau compte
                                </h1>
                                <br />
                                <p>
                                    {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            {% for msg in messages %}
                                                <span class="alert-{{ msg.category }}">{{ msg }}</span>
                                            {% endfor %}
                                        {% else %}
                                            Remplissez tous les champs
                                        {% endif %}
                                    {% endwith %}
                                </p> 
                            </div>
                            {% include 'register-form.html' %}
                            <div class="d-flex justify-content-center align-items-center mt-4">
                              <span class="fw-normal">
                                  Avez-vous déjà un compte ?
                                  <a href="{{ url_for('auth_bp.login') }}" class="small text-right fw-bold">Connectez-vous</a>
                              </span>
                            </div>
                            {% include 'footer.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
